<style>
 
      ul li {float:left; width:30%; list-style-type: none; border:1px dotted #ff000; padding:10px; margin:5px;}

</style>

<div class="card">
    <img class="card-profile-picture" src="{{avatar}}" {{action "follow"}}>
    <div class="card-actions">
  </div>
  <div class="card-content">
    <h3>{{question}}</h3>
    <p>Asked by:{{asked}}</p>
  </div>
</div>